/* header start */
.header {
    background-color: #562EFF;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.home-icon {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.logo {
    height: 50px;
    width: 50px;
}

nav>ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

nav>ul>li {
    float: right;
    list-style: none;
    display: inline;
    margin-left: 10px;
}

nav>ul>li>a {
    text-decoration: none;
    color: azure;
}

/* header end */


/* top players and top blogs start */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 29px;
    margin-top: 40px;
}

.player {
    display: flex;
    align-items: center;
    gap: 16px;
}

.player>img {
    width: 56px;
    height: 56px;
}